<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attack Commenced</title>
    <style>
        body {
            background-color: #e3d7bd;
            font-family: 'Arial', sans-serif;
            text-align: center;
            margin: 0;
            padding-top: 50px;
        }

        h1 {
            font-size: 36px;
            color: #4c3526;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1>Attack commenced successfully.</h1>
</body>
</html>
